<%= form_for(@fox) do |f| %>
  <% if @fox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fox.errors.count, "error") %> prohibited this fox from being saved:</h2>

      <ul>
      <% @fox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
<div class="field">
  <%= f.label :tail %><br>
  <%= f.text_field :tail %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
